<form action="/create" method="POST">
  <h2>Reja tuzish</h2>

  <div class="input-field">
    <input type="text" name="title">
    <label>Rejani kiriting</label>
  </div>

  <button type="submit" class="btn">Saqlash</button>
</form>
